src/main/mule/deleterestaurant.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="deleterestaurantFlow" doc:id="9d1a2234-0bc6-4d0d-8a32-c0498e32fb32" >
		<db:delete doc:name="Delete" doc:id="e7894d8e-f168-4343-867f-d951db7c2267" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE from restaurant WHERE restaurant_id= :restaurant_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[restaurant_id :attributes.uriParams.id]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="ff4886d0-87e0-4c3c-897b-e0fe894df661" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
