src/main/mule/deleterestaurant.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="deleterestaurantFlow" doc:id="9d1a2234-0bc6-4d0d-8a32-c0498e32fb32" >
		<db:delete doc:name="Delete" doc:id="e7894d8e-f168-4343-867f-d951db7c2267" config-ref="Database_Config">
			<db:sql><![CDATA[DELETE from restaurant WHERE restaurant_id= :restaurant_id]]></db:sql>
			<db:input-parameters><![CDATA[#[restaurant_id :attributes.uriParams.id]]]></db:input-parameters>
		</db:delete>
		<choice doc:name="Choice" doc:id="85608c5f-9f31-427d-a8db-a2e397d60584" >
			<when expression="#[payload.affectedRows != 0]">
				<ee:transform doc:name="Transform Message" doc:id="ff4886d0-87e0-4c3c-897b-e0fe894df661">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<set-variable value="#['Restaurant with id  ' ++ vars.id as String ++ 'is not found']" doc:name="Set Variable" doc:id="28881d91-4ce2-442b-aa4a-7aef4193fcf6" variableName="errormessage"/>
				<raise-error doc:name="Raise error" doc:id="af685f26-c65c-410b-ab35-64f27f0cbe0d" type="APP:NOTFOUND"/>
			</otherwise>
		</choice>
	</flow>
</mule>
