src/main/mule/updaterestaurant.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="updaterestaurantFlow" doc:id="3bb5a189-ae0b-421d-bdd9-0880f06120f1" >
		<db:update doc:name="Update" doc:id="0d15acfc-f273-47c8-8864-da97474c9a57" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE `restaurant` SET `name` =:name, `house_number` = :houseNumber,
`street` = :street,`city` = :city,`pincode` = :pincode
WHERE `restaurant_id` = :id
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.id,
	name: payload.name,
	houseNumber: payload.address.houseNumber,
	street: payload.address.street,
	city: payload.address.city,
	pincode: payload.address.pincode
}]]]></db:input-parameters>
		</db:update>
		<choice doc:name="Choice" doc:id="1ff2d7fd-7c54-4a07-a2f7-43889f44c00f" >
			<when expression="#[payload.affectedRows != 0]">
				<ee:transform doc:name="Transform Message" doc:id="67406ef0-6a41-46a9-bc39-35a87c5c65ac">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "statusCode": "200",
  "message": "Restaurant with id "++ vars.id as String ++" is updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<set-variable value="#['Restaurant with id  ' ++ vars.id as String ++ 'is not found']" doc:name="Set Variable" doc:id="a980cb27-a66c-4d5d-8b34-8abc64d19646" variableName="errormessage"/>
				<raise-error doc:name="Raise error" doc:id="fe3accde-f882-4516-bd62-7f36c64c1d7b" type="APP:NOTFOUND"/>
			</otherwise>
		</choice>
	</flow>
</mule>
